.contact {
  background-color: colour-get(secondary);

  .page-section__inner {
    @media screen and (min-width: $bp--tablet) {
      display: flex;
    }
  }

  .page-section__title {
    padding-bottom: 20px;
    color: colour-get(white);
  }

  &__social {
    display: flex;
    margin-top: 30px;
    list-style: none;

    i {
      color: colour-get(white);
      font-size: 17px;
    }

    @media screen and (min-width: $bp--tablet) {
      margin-top: auto;
    }
  }

  &__social-item {
    overflow: hidden;
    transition: $transition-time;

    a {
      display: inline-block;
      padding: 15px;
      background-color: colour-get(primary);
    }

    & + .contact__social-item {
      margin-left: 15px;
    }

    &:hover,
    &:focus,
    &:active {
      transform: scale(0.9);

      a {
        background-color: darken(colour-get(primary), 10%);
      }

      i {
        animation: socialIconEffect 0.3s;
      }
    }
  }

  &__col {
    @media screen and (min-width: $bp--tablet) {
      flex: 1;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    color: colour-get(white);

    @media screen and (min-width: $bp--tablet) {
      @include type-style(title);
    }
  }

  &__form {
    margin-top: 30px;
  }

  &__form-field {
    & + .contact__form-field {
      margin-top: 20px;
    }

    &:last-of-type {
      margin-top: 30px;

      @media screen and (min-width: $bp--tablet) {
        margin-top: 20px;
      }
    }
  }

  .form-control-label {
    display: block;
    padding-bottom: 4px;
    color: colour-get(white);
  }

  .form-control {
    width: 100%;
    padding: 12px;
    background-color: colour-get(white);
    border: 1px solid lighten(colour-get(silver), 40%);

    &::placeholder {
      color: lighten(colour-get(silver), 20%);
    }

    &:focus,
    &:active {
      border-color: colour-get(secondary);
    }

    &--required {
      position: relative;

      &::after {
        position: absolute;
        right: 0;
        color: #000;
        font-weight: 900;
        font-family: "Font Awesome 5 Free", sans-serif;
        content: "\f061";
      }
    }
  }

  textarea {
    min-height: 100px;
  }

  .btn {
    border: $button-border;
  }
}

@keyframes socialIconEffect {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateY(150%);
    opacity: 0;
  }

  51% {
    transform: translateY(-150%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
