// Vendor imports.
@import "~normalize.css/normalize.css";
@import "~bourbon/core/bourbon";

// System imports
@import "./scss/utils/functions";
@import "./scss/colours/colours";
@import "./scss/utils/variables";
@import "./scss/utils/mixins";
@import "./scss/layout/layout";
@import "./scss/typography/typography";
@import "./scss/utils/classes";
@import "./scss/header/header";
@import "./scss/footer/footer";
@import "./scss/sections/cover";
@import "./scss/buttons/buttons";
@import "./scss/social/social";
@import "./scss/sections/skills";
@import "./scss/sections/resume";
@import "./scss/sections/contact";
@import "./scss/sections/about";
